<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Mi prueba nidia</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Formulario NEEDZAIO</h1>
        <hr/>
        <form id="needziao">
            <div class="form-group">
              <label for="last_name" class="form-label">Last name</label>
              <input type="text" class="form-control" id="last_name" placeholder="Enter Last name" required>
            </div>
    
            <div class="form-group">
                <label for="exampleInputEmail1" class="form-label">name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter name" required>
              </div>
            
              <div class="form-group">
                <label for="is_military" class="form-label">Is military</label>
                <select class="form-control" id="is_military">
                  <option value="1">Si</option>
                  <option value="0">No</option>
                </select>
              </div>
    
              <div class="form-group">
                <label for="is_temporal" class="form-label">Is temporal</label>
                <select class="form-control" id="is_temporal">
                  <option value="1">Si</option>
                  <option value="0">No</option>
                </select>
              </div>
              <div class="form-group">
                <label for="user_name" class="form-label">Username</label>
                <input type="text" class="form-control" id="user_name" placeholder="Enter user_name" required>
              </div>
    
            <div class="form-group">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password" required>
            </div>
    
            <div class="form-group">
                <label for="email" class="form-label">email</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
    
              <div class="form-group">
                <label for="email_verified" class="form-label">Email verified</label>
                <input type="email" class="form-control" id="email_verified" placeholder="Enter email_verified">
              </div>

              <div class="form-group">
                <label for="verification_token" class="form-label">Verification token</label>
                <input type="text" class="form-control" id="verification_token" placeholder="Enter verification_token" required>
              </div>

              <div class="form-group">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" placeholder="Enter address" required>
              </div>

              <div class="form-group">
                <label for="country_id" class="form-label">Country</label>
                <select class="form-control" id="country_id">
                  <option value="1">Colombia</option>
                  <option value="2">Venezuela</option>
                </select>
              </div>

              <div class="form-group">
                <label for="city" class="form-label">City</label>
                <input type="text" class="form-control" id="city" placeholder="Enter city">
              </div>

              <div class="form-group">
                <label for="phone" class="form-label">Phone</label>
                <input type="text" class="form-control" id="phone" placeholder="Enter phone" required>
              </div>

              <div class="form-group">
                <label for="cellphone" class="form-label">Cell Phone</label>
                <input type="text" class="form-control" id="cellphone" placeholder="Enter cell_phone" required>
              </div>

              <div class="form-group">
                <label for="emergency_name" class="form-label">Emergency name</label>
                <input type="text" class="form-control" id="emergency_name" placeholder="Enter emergency_name" required>
              </div>

              <div class="form-group">
                <label for="emergency_phone" class="form-label">Emergency Phone</label>
                <input type="text" class="form-control" id="emergency_phone" placeholder="Enter emergency_phone" required>
              </div>
    
              <div class="form-group">
                <label for="document" class="form-label">Document</label>
                <input type="text" class="form-control" id="document" placeholder="Enter document" required>
              </div>

              <div class="form-group">
                <label for="type_document_id">Type document</label>
                <select class="form-control" id="type_document_id">
                  <option value="1">Cedula de ciudadania</option>
                  <option value="2">Cedula de extranjeria</option>
                  <option value="3">Pasaporte</option>
                </select>
              </div>
    
              <div class="form-group">
                <label for="placeexpedition" class="form-label">Place expedition</label>
                <input type="text" class="form-control" id="placeexpedition" placeholder="Enter placeexpedition" required>
              </div>

              <div class="form-group">
                <label for="dateexpedition" class="form-label">Date expedition</label>
                <input type="text" class="form-control" id="dateexpedition" placeholder="Enter dateexpedition" required>
              </div>
              <br/>
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
              <br/>
              <hr/>
          </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    <script src="./main.js"></script>
</body>
</html>